/*
 * _login.scss
 * Created by juandavidaguirrecamargo
 * 28/03/2023 13:46:44
 */

.login-contend{
  text-align: -webkit-center;


  .login_user{
    width: 40%;
    text-align: left;
  }

}




//Registro
.registro_user{
  width: 40%;
  text-align: left;
}